<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}" />
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<body>
    <section class="course">
        <nav>
          <div class="nav-links" id="navLinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
            
            <ul>
              <li><a href="home">HOME</a></li>
              <li><a href="about">ABOUT</a></li>
              <li><a href="works">WORKS</a></li>
              <li><a href="resume">RESUME</a></li>
            <li><a href="contact">CONTACT</a></li>
            </ul>
          </div>
          <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
      
    <form action="/notepad" method="post">
        <input placeholder="Jagans-Id" name="name" type="password">
        <input placeholder="Post Content" name="post">
        <input type="submit" name="btn" value="Submit">
        <input type="submit" name="btn" value="Clear">
    </form>
    <h3>
    {% for post in posts %}
    <div>{{post[0]}}</div>
    <div>{{"-------------------------*-------------------------"}}</div>
    {% endfor %}
    </h3>
</section>
<script>

    var navLinks = document.getElementById("navLinks");

    function showMenu() {
      navLinks.style.right = "0";
    }
    function hideMenu() {
      navLinks.style.right = "-200px";
    }  
  </script>
  <script>

    var navLinks = document.getElementById("navLinks");

    function showMenu() {
      navLinks.style.right = "0";
    }
    function hideMenu() {
      navLinks.style.right = "-200px";
    }  
  </script>
</body>
</html>